@tailwind base; 
@tailwind components; 
@tailwind utilities;

@keyframes slide-up {
  0% {
    transform: translateY(80%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.4s ease-out;
}
